@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
  font-style: italic;
  font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-seri;
  color: var(--clr-line-color);
}
:root {
  --clr-line-color: black;
  --clr-bg-color: white;
  --clr--invert-color: 0%;
}

body {
  background: url(./th.jfif);
  /* background-image: url(./th.jfif); */
}

nav {
  display: flex;
  background-color: var(--clr-bg-color);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 50px;
  border-bottom: 5px double var(--clr-line-color);
  height: 10vh;
  position: sticky;
  top: 0%;
  z-index: 99999;
}
nav img {
  max-width: 80px;
  padding: 3px;
}
.navTabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0 10px;
}
.navTabs > li {
  margin: 0 20px;
}
.navTabs a {
  color: var(--clr-line-color);
  text-decoration: none;
}
.navTabs a:hover {
  text-decoration: underline double;
}
.homeMainContainer,
.aboutMainContainer,
.projectMainContainer {
  height: 90vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
.imageContainer {
  filter: invert(var(--clr--invert-color));
}
.homeContainer {
  background-color: var(--clr-bg-color);
  display: flex;
  width: 80vw;
  height: 70vh;
  padding: 5vh;
  justify-content: space-between;
  align-items: center;
  border: 5px double var(--clr-line-color);
}
.homeText {
  text-align: center;
}
#myFace {
  max-width: 100%;
  min-width: 200px;
}

.resume {
  padding: 5px 10px;
  border: 2px solid var(--clr-line-color);
  outline: 2px solid var(--clr-line-color);
  outline-offset: 2px;
  background-color: var(--clr-bg-color);
}
/* ------------------bounce animation in button---------- */
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 2.2s;
  animation-delay: 2.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: scale(1);
  }
  40% {
    -webkit-transform: scale(2);
  }
  60% {
    -webkit-transform: scale(1.5);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: scale(1);
  }
  40% {
    transform: scale(2);
  }
  60% {
    transform: scale(1.5);
  }
}
/* --------------------------------------------------------- */
.resume:hover {
  outline-offset: 4px;
}
.aboutContainer {
  background-color: var(--clr-bg-color);
  width: 80vw;
  min-height: 70vh;
  padding: 5vh;
  border: 5px double var(--clr-line-color);
}
.projectContainer {
  background-color: var(--clr-bg-color);
  width: 80vw;
  height: 80vh;
  padding: 5vh;
  border: 5px double var(--clr-line-color);
}
.aboutGrid,
.portfolioGrid {
  display: flex;
  justify-content: space-between;
}
.aboutGrid > div {
  border: 5px double var(--clr-line-color);
  width: 30%;
}
.portfolioGrid > div {
  height: 50vh;
  width: 25%;
  /* background-image: url(card.jpg);
  background-size: cover;
  background-position-x: center;
  background-position-y: center; */
}
.portfolioGrid > div > p {
  background-color: var(--clr-bg-color);
}

.portfolioGrid {
  display: flex;
}

.contactContainer fieldset {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30vw;
  border: 5px double var(--clr-line-color);
  padding: 10px;
}
form button {
  padding: 5px 10px;
  outline: 2px solid var(--clr-line-color);
  outline-offset: 2px;
}
form button:hover {
  outline-offset: 4px;
}

/* .contactMainContainer {
 
} */
.contactContainer {
  display: flex;
  border-top: 5px double var(--clr-line-color);
  background-color: var(--clr-bg-color);
  justify-content: space-between;
  padding: 5vh 10vh 1vh 10vh;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.send {
  color: var(--clr-line-color);
  background-color: var(--clr-bg-color);
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 5vw;
}
.icon {
  padding: 5px;
  transform: scale(2);
  margin-bottom: 5vh;
}
.icon > a > i {
  color: var(--clr-line-color);
}
.icon:hover {
  transform: scale(3);
}
/* ----------------------flip Card----------------- */
.flip-card {
  perspective: 1000px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.front {
  /* background-color: #bbb; */
  background: url(card.jpg);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  color: var(--clr-bg-color);
  border: 5px double var(--clr-line-color);
  box-shadow: 5px 5px 10px;
}

/* Style the back side */
.back {
  background-color: rgb(149, 145, 145);
  color: black;
  transform: rotateY(180deg);
  border: 5px double var(--clr-line-color);
  box-shadow: 5px 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* ---------color theme---------*/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.color-picker > fieldset {
  border: 0;
  display: flex;
  gap: 1rem;
  /* border: 5px double var(--clr-line-color); */
  width: fit-content;
  background: rgb(149, 145, 145);
  padding: 0.7rem;
  margin-inline: auto;
  border-radius: 1rem;
  position: fixed;
  top: 0%;
  right: 0%;
}
.color-picker input[type="radio"] {
  appearance: none;
  width: 0.8rem;
  height: 0.8rem;
  outline: 3px solid var(--radio-color, currentColor);
  outline-offset: 3px;
  border-radius: 50%;
}
.color-picker input[type="radio"]:checked {
  background-color: var(--radio-color);
}

#black {
  --radio-color: black;
}
#white {
  --radio-color: white;
}

:root:has(#white:checked) {
  --clr-line-color: black;
  --clr-bg-color: white;
  --clr--invert-color: 0%;
}
:root:has(#black:checked) {
  --clr-line-color: white;
  --clr-bg-color: black;
  --clr--invert-color: 100%;
}

/* ---------------------------------MEDIA QUERY-------------------------  */

@media screen and (max-width: 1000px) {
  #myFace {
    display: none;
  }

  nav {
    flex-direction: column;
    height: 100%;
  }
  .aboutGrid {
    flex-direction: column;
    gap: 1vh;
  }
  .aboutGrid > div {
    width: 100%;
  }
  .aboutContainer,
  .aboutMainContainer {
    height: 100%;
  }
  .aboutContainer,
  .homeContainer,
  .projectContainer {
    width: 90vw;
    justify-content: center;
  }
  .projectContainer,
  .projectMainContainer {
    height: 100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  .portfolioGrid {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  .portfolioGrid > div {
    width: 40%;
  }
  .contactContainer {
    flex-direction: column;
  }
  .contactContainer fieldset {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .portfolioGrid > div {
    width: 70%;
  }
  .color-picker > fieldset {
    scale: 0.6;
  }
}
@media screen and (max-width: 600px) {
  .navTabs {
    flex-direction: column;
    padding: 0;
  }
  nav {
    height: 100%;
    justify-items: center;
  }
  .homeContainer {
    width: 90vw;
  }
  .contactContainer {
    padding: 10px;
  }
  .portfolioGrid > div {
    width: 80%;
  }
  .projectContainer {
    padding: 10px;
  }
}
